.about {
  max-width: var(--max-width);
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
}

.about h2 {
  color: var(--primary);
  font-size: 2rem;
  margin-bottom: 1.5rem;
} 

@media (max-width: 1199.98px) {
  .about {
    max-width: 1100px;
    padding: 1.8rem;
  }

  .about h2 {
    font-size: 1.9rem;
  }
}

/* ===========================================================
   LG → 992px ↓
   =========================================================== */
@media (max-width: 991.98px) {
  .about {
    max-width: 500px;
    padding: 1.6rem;
  }

  .about h2 {
    font-size: 1.8rem;
  }
}

/* ===========================================================
   MD → 768px ↓
   =========================================================== */
@media (max-width: 767.98px) {
  .about {
    max-width: 500px;
    padding: 1.5rem;
  }

  .about h2 {
    font-size: 1.6rem;
    
  } 

  .about p{
    font-size: 1rem;
  }
}

/* ===========================================================
   SM → 576px ↓
   =========================================================== */
@media (max-width: 575.98px) {
  .about {
    max-width: 500px;
    padding: 1.3rem;
  }

  .about h2 {
    font-size: 1.4rem;
  }

  .about p{
       font-size: .9rem;

  }
}

/* ===========================================================
   XS → <400px (teléfonos chicos)
   =========================================================== */
@media (max-width: 399.98px) {
  .about {
    max-width: 50%;
    padding: 1rem;
  }

  .about h2 {
    font-size: 1.25rem;
  }

  .about p{
       font-size: .8rem;

  }
}
