.footer {
  background: var(--bg-light);
  text-align: center;
  padding: 2rem;
  color: #999;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.8rem;
}

.socials a {
  color: var(--primary);
  transition: 0.3s;
}

.socials a:hover {
  color: var(--accent);
}
