@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-dark);
  color: var(--text);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease;
}

.animate-fade-in {
  opacity: 1;
  transform: translateY(0);
}
