


.hero {
  max-width: var(--max-width);
  margin: 4rem auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
}




.hero-text h1 {
  font-size: 2.8rem;
  line-height: 1.2;
}

.hero-text span {
  color: var(--primary);
}

.hero-text p {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #c9d1d9;
  max-width: 600px;
}

.hero-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.8rem 1.5rem;
  border-radius: var(--radius);
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s;
}

.btn.primary {
  background: var(--primary);
  color: #fff;
}

.btn.primary:hover {
  background: #3d8bfd;
}

.btn.outline {
  border: 2px solid var(--primary);
  color: var(--primary);
}

.btn.outline:hover {
  background: var(--primary);
  color: #fff;
}

.hero-photo img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: var(--shadow);
  transition: transform 0.3s;
}

.hero-photo img:hover {
  transform: scale(1.05);
} 

.hero-responsive{
    display: flex; 
    gap: 1.5rem;
    justify-content: space-around;
    align-items: center;

  }


@media (max-width:800px){ 

  .hero-responsive{
    display: flex; 
    gap: 1.5rem;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;

  }

}
