

.navbar {
  max-width: 98%;
  margin: 0 auto;
  background: var(--bg-light);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 1rem 2rem; /* ← Agrega esto */
  z-index: 100;
  box-shadow: var(--shadow);
}

.logo {
  font-size: 1.5rem;
  color: var(--primary);
  font-weight: 700;
  margin-left: .6rem;
}

.nav-links {
  display: flex;
  margin-left: 1rem;
  padding: .7rem 1rem ; /* ← Agrega esto */
  gap: 2rem;
}

.nav-item {
  position: relative;
  color: var(--text);
  transition: 0.3s;
}

.nav-item:hover {
  color: var(--primary);
}
